{% extends 'auctions/layout.html' %}

{% block body %}

 <!-- present the user with an error if their bid is lower than the current max bid-->
 {% if messages %}
   {% for message in messages %}
     <p class="alert alert-{{ message.tags }}">{{ message }}<p>
   {% endfor %}
{% endif %}

<h1>{{listing.title}}</h1>
{% if closed %}
<h5 style="color:grey;"> this listing is closed </h5>
    {% if you_won%}
    <h5 style="color:green;"> You won this auction! Congratulations!</h5>
    {% endif %}
{% endif %}

<!-- watchlist and close_listing buttons -->

<div>
    {% if can_close %}
        {% if not closed %}
        <a href="{% url 'close_listing' listing.pk %}" class="btn btn-secondary mb-3">Close this listing</a>
        {% endif %}
    {% else %}
        <a href="{% url 'add_to_remove_from_watchlist' listing.pk %}" class="btn btn-warning mb-2" style="background-color: lightblue;">
            {{ watchlist_button|safe }} watchlist
        </a>
    {% endif %}
</div>



<!-- listing's image -->
<div>
 <img width="auto" height="500" class="mb-5" src="{{ listing.image_url }}"> 
</div>


<!-- listing's current bid, previous bids and the user's bid-->
 <div>

 <!-- if there are no bids for the item, dispay the initial bid. Otherwise, display the highes bid-->
{% if bids|length == 0 %}
<h2>$ {{ listing.starting_bid }} </h2>
{% else %}
<h2>$ {{ max_bid }} </h2>
{% endif %}
<p> {{ bids|length }} bids so far. Make your bid:</p>


<form action="{% url 'bid' listing.pk %}" method="post">
    {% csrf_token %}
    <input type="number" name="bid" placeholder="Bid">
    <input class="btn btn-primary" type="submit" value="Place Bid">
</form>


<!-- listing's details-->
<div>
    <p class="font-weight-bold"> Listed by: {{listing.user.username}} </p>
    <p class="font-weight-bold"> Category: {{listing.category.name}} </p> 
    <p class="font-weight-bold"> Item description: </p> 
    <p>  {{ listing.description }} </p> 
</div>


{% endblock %}